* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  background: #000;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  width: calc(100% - 40px);
  max-width: 1440px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 50px;
  width: 50px;
  padding: 0 20px;
  transition: 0.5s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(
          7deg
  ) brightness(92%) contrast(87%);
}

.header-logo:hover {
  filter: none;
}

.header-nav-items {
  display: flex;
  list-style: none;
}

.header-nav-item {
  padding: 0 20px;
  transition: 0.5s;
  cursor: pointer;
}

.header-nav-item:hover {
  color: #bdae82;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  background-image: url(assets/img/forest.jpg);
  background-size: cover;
}

.play {
  width: 160px;
  height: 160px;
  background-image: url(assets/svg/play.svg);
  background-size: contain;
  background-color: transparent;
  border: 0;
  transition: 0.3s;
}

.play:hover {
  filter: brightness(.85);
}

footer {
  background: #000;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: calc(100% - 40px);
  max-width: 1440px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-description span:first-child {
  margin-left: 20px;
}

.footer-description span {
  margin-right: 15px;
}

.footer-rss {
  margin-right: 20px;
}